.bg-auth-cover {
  background-image: url("/images/auth-cover.png");
  background-color: #4D1F70;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
